.left-box{
  display: inline-block;
  font-weight: 300;
  position: relative;
  white-space: nowrap;
  padding: 3rem  2.2rem  3rem  4.2rem;
  border: 3px  solid #fff;
  border-right: 0px;
}

.box-content{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.logo-number{
  font-family: montserrat, sans-serif;
  font-size: 7rem;
  line-height: 1;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}

.logo-info{
  position: relative;
  font-size: 1rem;
  line-height: 1.481;
  color: #fff;
  text-align: right;
  margin-left: 38px;
}


.logo-info div {
  display: inline-block;
  position: relative;
}

.logo-info div:after {
  position: absolute;
  right: 100%;
  content: '';
  width: 3rem;
  bottom: 0rem;
  height: 3px;
  background: #fff;
}





/* global css */
.logo-info{
  font-family: "XingShu";
}