.introduction{
  position: relative;
  height: 128px;
  width: 300px;
}

.intrYear{
  position: absolute;

  width: 28px;
  height: 14px;
  left: 114px;
  top: 0px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #BF4800;
}


.intrName{
  position: absolute;
  width: 255px;
  height: 66px;
  left: 0;
  top: 29px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  /* identical to box height */

}

.intrContent{
  position: absolute;

  width: 183px;
  height: 28px;
  left: 36px;
  top: 91px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.1em;

}

.intrContent {
  color: #6A7687;
}






/* global css  */
.intrContent, .intrName, .intrYear{
  font-family: 'XingShu';
}

.intrYear{
  font-size: 24px;
}

.intrName{
  letter-spacing: 10px;
}

.intrContent{
  color:  var(--color_bg_1);
}