

h4.ant-list-item-meta-title{
  position: relative;
  padding-top: 8px;
  margin: 10px 0 0 0;
  padding-bottom: 8px;
  color: #738192;
  font-size: 14px;
  border-bottom: 1px solid #d8e0ea;
  -webkit-box-shadow: 0 1px rgba(255,255,255,.5);
  box-shadow: 0 1px rgba(255,255,255,.5);
  -webkit-transition: .25s;
  transition: .25s;
}

h4.ant-list-item-meta-title:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  background: #20a0ff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,#58B7FF),color-stop(70%,#20a0ff));
  background: -webkit-linear-gradient(#58B7FF 30%,#20a0ff 70%);
  background: linear-gradient(#58B7FF 30%,#20a0ff 70%);
  border-radius: 3px;
  bottom: -2px;
  left: 0;
  width: 30px;
  -webkit-box-shadow: 0 3px 4px rgba(32,160,255,.5);
  box-shadow: 0 3px 4px rgba(32,160,255,.5);
  -webkit-transition: .25s;
  transition: .25s;
}

li:hover> div > div > h4.ant-list-item-meta-title {
  color: #20a0ff;
}

li:hover> div > div > h4.ant-list-item-meta-title:after{
  width: 45px;
}




.ant-list-item-meta-dark .ant-list-item-meta-content .ant-list-item-meta-title {
  color: #F0F2F5;
}
