.article_wrapper.post {
  margin-top: 35px;

  color: #657487;
  padding: 0 60px;
  background: #fff;
  border-radius: 13px;
  -webkit-box-shadow: 0 13px 15px rgba(31, 45, 61, .1);
  box-shadow: 0 13px 15px rgba(31, 45, 61, .1);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.post-detail-content span {
  margin-left: 5px;
}

.article_wrapper.post .meta {
  padding: 28px 0;
  text-align: right;
  color: #99a9bf;
  font-size: 13px;
  line-height: 24px;
}


.markdown-body p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.6em;
}

.markdown-body blockquote p {
  padding-left: 8px;
  padding-right: 4px;
  color: #95a5a6;
  border-left: #95a5a6 solid 4px;
}


/*h1 - h6  的样式修改*/

.markdown-body .title_style {
  position: relative;

  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  -webkit-transition: .25s;
  transition: .25s;
}

.markdown-body h2 {
  color: #8492a6;
}

.markdown-body .title_style:before {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #58B7FF), color-stop(70%, #20a0ff));
  background: -webkit-linear-gradient(#58B7FF 30%, #20a0ff 70%);
  background: linear-gradient(#58B7FF 30%, #20a0ff 70%);
  bottom: -1px;
  left: 0;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px rgba(32, 160, 255, .4);
  box-shadow: 0 3px 3px rgba(32, 160, 255, .4);
  -webkit-transition: .25s;
  transition: .25s;
}

.markdown-body .title_style:after, .markdown-body .title_style:before {
  display: block;
  position: absolute;
  content: "";
}

.markdown-body .title_style:after {
  width: calc(100% + 120px);
  height: 1px;
  background: #eff2f7;
  bottom: 0;
  left: -60px;
}

.markdown-body .title_style > * {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  line-height: 1;
}


/*h1 - h6  的样式修改结束*/


.markdown-body del {
  text-decoration: line-through;
}

.markdown-body a {
  color: #3498db;
  outline: none;
}

.markdown-body code {
  font-family: Consolas, 'Courier New', Courier, monospace;
  padding: 2px 4px;
  background: #f1f2f6;
  border-radius: 4px;
}

.markdown-body ol,
.markdown-body ul {
  margin: 12px 0;
  padding-left: 20px;
}

.markdown-body li {
  line-height: 1.6em;
}

.markdown-body li ol,
.markdown-body li ul {
  margin: auto;
  padding-left: 24px;
}

.markdown-body li p {
  margin: auto;
}

.markdown-body ul li > input[type="checkbox"] {
  margin-left: -20px;
  margin-right: 6px;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 20px 0;
}

.markdown-body th,
.markdown-body td {
  padding: 4px 10px;
}

.markdown-body th {
  border-bottom: #16a085 solid 2px;
}

.markdown-body td {
  border-top: #1abc9c solid 1px;
}

.markdown-body pre {
  margin: 20px 0;
  padding: 10px;
  background: #f1f2f6;
  border-radius: 8px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.markdown-body pre::-webkit-scrollbar {
  display: none;
}

.markdown-body pre > code {
  font-size: 14px;
  padding: 0;
  background: none;
}

.markdown-body hr {
  margin: 18px 0;
  background: #95a5a6;
  border: #95a5a6 solid 2px;
  border-radius: 2px;
}

.markdown-body img {
  max-width: Calc(100vw - 140px);
  max-height: 260px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

@media only screen and (min-width: 600px) {
  /* for tablets and desktops */
  .markdown-body th,
  .markdown-body td {
    padding: 6px 18px;
  }

  .markdown-body th {
    border-bottom: #16a085 solid 3px;
  }

  .markdown-body img {
    max-width: 400px;
    max-height: 360px;
  }
}

@media only screen and (min-width: 800px) {
  /* for desktops */
  .markdown-body img {
    max-width: 600px;
  }
}


@media screen and (max-width: 768px) {
  .article_wrapper.post {
    padding: 0 10px;
  }
}

