.project-detail{
  height: 100%;
  width: 100%;
  padding: 70px  44px 0;
}



.toggle_sidebar {
  color: #fff;
  position: absolute;
  text-align: center;
  right: -15px;
  top: 20px;
  cursor: pointer;
  width: 15px;
  height: 32px;
  border-radius: 0 4px 4px 0;
  background: #c9d4e0;
  line-height: 32px;
  -webkit-transition: .25s;
  transition: .25s;
  margin-top: 40px;
  z-index: 999;
}

.post_content{
  -webkit-transition: opacity .25s,-webkit-transform .25s;
  transition: opacity .25s,transform .25s,-webkit-transform .25s;
}


.ant-affix{
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
}


html{
  scroll-behavior: smooth;
}


@media screen and (max-width:768px) {
  .project-detail{
    padding: 70px  10px 0;
  }
}
