.categoryNav{
  float:left;
  width: calc(100%);
  position: relative;
  height: 56px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 44px;
  margin-left: 5px;
}

.categoryNav>.dropdown.active {
  background: #20a0ff;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 10px rgba(32,160,255,.3);
  box-shadow: 0 8px 10px rgba(32,160,255,.3);
}

.categoryNav>.dropdown.active > a > span {
  color: #fff;
}

.categoryNav>.dropdown.active > span {
  color: #fff;
}

.dropdown span {
  transition: .25s;
  font-size: 14px;
  padding: 0 15px;
  color: #738192;
}

.dropdown-content {
  left: -32px;
  width: 138px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 999;
}

.dropdown-content p {
  text-align: center;
  margin-bottom: 0px;
}

.dropdown-content p.active {
  color: white;
  background: #4fb2fb;
  border-radius: 5px 5px 5px 5px;
}

.dropdown:hover .dropdown-content {
  display: block;

}
.dropdown:hover  {
  background: #20a0ff3b;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 10px rgba(32, 160, 255, .3);
  box-shadow: 0 8px 10px rgba(32, 160, 255, .3);
}

.dropdown-content p{
  text-align: center;
  margin-bottom: 0px;
}

.dropdown-content p:hover{
  color: white;
  background: #20a0ff3b;
  border-radius: 5px 5px 5px 5px;
}
.dropdown-content p:hover a{
  color: white;
}
.dropdown-content a{
  text-decoration: none;
  color: #738192;
}
