.card{
  color: #F0F2F5;
  border-radius: 8px;
  overflow: hidden;
  background-color: #282C35;
  padding-bottom: 5px;
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}


.card a {
  margin-right: 0 !important;
  color: #ffffff;
  text-transform: none !important;
}

.card .card-content {
  padding: 15px 15px 12px 10px;
  border-radius: 0 0 2px 2px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-image {
  transition: 1s;
  position: relative;
  background: #928D8D;
}

.card .card-image img {
  opacity: 0.5;
  transition: 1s;
}

.card:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
  border-color: transparent;
}

.card:hover img {
  opacity: 1;
}

.card:hover .card-image {
  background: #fff;
}


.card .card-image img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 0 0 24px 10px;
}

.card .card-image .posts-date {
  color: #cacaca;
  font-size: 8px;
  font-family: math;
  position: absolute;
  bottom: -16px;
  left: 0;
  max-width: 100%;
  padding: 0 0 24px 10px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .article-content .summary {
  padding-bottom: 2px;
  padding-left: 0;
  margin-bottom: 6px;
  word-break: break-all;
}

.summary {
  color: #F0F2F5;
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 4.5em;
  text-align: justify;
  height: 62px;
  margin-right: -1em;
  padding-right: 1em;
}
//.summary:before {
//  content: '...';
//  position: absolute;
//  right: 15px;
//  bottom: 0;
//}
//.summary:after {
//  content: '';
//  position: absolute;
//  right: 15px;
//  width: 1em;
//  height: 1.5em;
//  margin-top: 0.2em;
//  background: white;
//}

.article-content .post-category {
  float: right;
  padding-left: 5px;
}

.tag-color {
  background-image: linear-gradient(to left, #00c9ff 0%, #66a6ff 100%);
}
.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: #F0F2F5;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.card .article-tags .chip {
  margin: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  height: 22px;
  line-height: 22px;
  color: #fff;
  border-radius: 10px;
}

.article-tags{
  padding-left: 10px;
}

.card-light {
  background-color: white;
  .card-image{
    background-color: black;
  }
  .article-content .summary{
    color: black;
  }
}