.user_info .authorImg {
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 13px;
  float: left;
  -webkit-box-shadow: 0 13px 15px rgba(0,0,0,.13);
  box-shadow: 0 13px 15px rgba(0,0,0,.13);
}
.user_info {
  padding: 0px 24px;
}

.user_info .meta {
  width: calc(100% - 70px);
  float: left;
  padding-left: 15px;
}

.user_info .meta .name {
  font-size: 18px;
  margin-top: 7px;
  color: #475669;
}

.user_info .meta .description {
  color: #738192;
  font-size: 13px;
  margin-top: 4px;
}


.user_info-dark  .meta .name{
    color: white;
}

.user_info-dark .meta .description{
    color: white;
}



/* global css */
.user_info {
  font-family: 'XingShu';
}