.user_link {
  padding: 9px 0 0;
  margin: 0;
  display: block;
}

.user_link>li{
  display: block;
  list-style: none;
}


.user_link>li a {
  line-height: 30px;
  color: #738195;
  font-size: 14px;
  text-shadow: 0 1px #fff;
  transition: .25s;
}


.user_link>li:hover svg {
  color:#20a0ff;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: .5s cubic-bezier(.3,60,.5,1),color .25s;
  transition: .5s cubic-bezier(.3,60,.5,1),color .25s;
}

.user_link-dark >li a{
  color: #ffffff;
  text-shadow: 0 1px #000;
  transition: 0.25s;
}
